<div class="hero_area">
  <section class="slider_section">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h1>MeetMaster <br /></h1>
                  <figcaption class="blockquote-footer">
                    <cite title="Source Title"
                      >Where Meetings Become Masterpieces</cite
                    >
                  </figcaption>
                  <p>
                    Welcome to <b>MeetMaster</b>, the ultimate platform for
                    seamless and productive meetings. Our application is
                    designed to elevate your meeting experience, fostering
                    collaboration, efficiency, and engagement.
                  </p>

                  <div class="btn-box">
                    <!-- <a class="btn-1" (click)="gotocreatemeeting()">
                      Create Meeting
                    </a> -->
                    <button class="btn-1" (click)="gotocreatemeeting()">
                      Create Meeting
                    </button>
                    <a class="btn-2" (click)="gotoAllMeeting()">
                      Join Meeting
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-lg-10 mx-auto">
                    <div class="img-box">
                      <img src="../../assets/meetingcarsoul1.jpg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end slider section -->
</div>
