<div class="hero_area">
  <!-- header section strats -->

  <!-- slider section -->
  <section class="slider_section">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h1>
                    Master Your Meetings <br />
                    with Meet Master
                  </h1>
                  <p>
                    Elevate your collaboration experience with intelligent and
                    creative solutions. Meet Master - where every meeting
                    becomes a masterpiece.
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn-1"> Read More </a>
                    <a href="" class="btn-2"> Contact Us </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-lg-10 mx-auto">
                    <div class="img-box">
                      <img src="../../assets/slider-img.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end slider section -->
</div>

<!-- price section -->

<section class="price_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Our Team Member</h2>
    </div>
    <div class="price_container">
      <div class="box">
        <div class="detail-box">
          <div class="container">
            <img
              src="../../assets/download.jpeg"
              class="img-circle"
              alt="Cinque Terre"
              width="200"
              height="200"
            />
          </div>
          <ul class="price_features">
            <li><br /><br /></li>
            <li>
              <h2>Akash Netke.</h2>
            </li>
            <li>
              <h4>Frontend_Backend Developer</h4>
            </li>
          </ul>
        </div>
        <div class="btn-box">
          <a href=""> See Detail </a>
        </div>
      </div>
      <div class="box">
        <div class="detail-box">
          <div class="container">
            <img
              src="../../assets/download.jpeg"
              class="img-circle"
              alt="Cinque Terre"
              width="200"
              height="200"
            />
          </div>
          <ul class="price_features">
            <li><br /><br /></li>
            <li>
              <h2>Rahul Thorat.</h2>
            </li>
            <li>
              <h4>Frontend_Backend Developer</h4>
            </li>
          </ul>
        </div>
        <div class="btn-box">
          <a href=""> See Detail </a>
        </div>
      </div>
      <div class="box">
        <div class="detail-box">
          <div class="container">
            <img
              src="../../assets/download.jpeg"
              class="img-circle"
              alt="Cinque Terre"
              width="200"
              height="200"
            />
          </div>
          <ul class="price_features">
            <li><br /><br /></li>
            <li>
              <h2>Sandesh Daundkar.</h2>
            </li>
            <li>
              <h4>UI Developer</h4>
            </li>
          </ul>
        </div>
        <div class="btn-box">
          <a href=""> See Detail </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- price section -->

<!-- info section -->

<section class="info_section layout_padding2">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="info_contact">
          <h4>Address</h4>
          <div class="contact_link_box">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span> Location </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span> Call +01 1234567890 </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span> demo.com </span>
            </a>
          </div>
        </div>
        <div class="info_social">
          <a href="">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_links">
          <a (click)="gotoHome()">
            <img src="../../assets/nav-bullet.png" alt="" />
            Home
          </a>
          <a (click)="gotoAbout()">
            <img src="../../assets/nav-bullet.png" alt="" />
            About
          </a>
          <a (click)="gotoService()">
            <img src="../../assets/nav-bullet.png" alt="" />
            Services
          </a>
          <a (click)="gotoMember()">
            <img src="../../assets/nav-bullet.png" alt="" />
            Members
          </a>
          <a (click)="gotoContact()">
            <img src="../../assets/nav-bullet.png" alt="" />
            Contact Us
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_detail">
          <h4>Info</h4>
          <p>
            necessary, making this the first true generator on the Internet. It
            uses a dictionary of over 200 Latin words, combined with a handful
          </p>
        </div>
      </div>
      <div class="col-md-3 mb-0">
        <h4>Subscribe</h4>
        <form action="#">
          <input type="text" placeholder="Enter email" />
          <button type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- end info section -->

<!-- footer section -->
<footer class="footer_section">
  <div class="container">
    <p>
      &copy; <span id="displayYear"></span> All Rights Reserved By
      <a href="https://html.design/">Meet Master</a>
    </p>
  </div>
</footer>
<!-- footer section -->
