<body class="sub_page">
  <div class="hero_area"></div>

  <!-- contact section -->
  <section class="contact_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>Get In Touch</h2>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-6 mx-auto">
          <div class="form_container">
            <!-- <form action="">
              <div>
                <input type="text" placeholder="Your Name" />
              </div>
              <div>
                <input type="email" placeholder="Your Email" />
              </div>
              <div>
                <input type="text" placeholder="Your Phone" />
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" />
              </div>
              <div class="btn_box ">
                <button>
                  SEND
                </button>
              </div>
            </form> -->
            <form (ngSubmit)="saveData()" #feedbackForm="ngForm">
              <div>
                <input
                  type="text"
                  placeholder="Your Name"
                  name="name"
                  [(ngModel)]="feed.name"
                  required
                />
              </div>
              <div>
                <input
                  type="email"
                  placeholder="Your Email"
                  name="email"
                  [(ngModel)]="feed.email"
                  required
                />
              </div>
              <div>
                <input
                  type="text"
                  placeholder="Your Phone"
                  name="phone"
                  [(ngModel)]="feed.phone"
                  required
                />
              </div>
              <div>
                <input
                  type="text"
                  class="message-box"
                  placeholder="Message"
                  name="message"
                  [(ngModel)]="feed.message"
                  required
                />
              </div>
              <button type="submit">SEND</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  <!-- info section -->

  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h4>Address</h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span> Location </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span> Call +91 9988776655 </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span> meetmastergmail.com </span>
              </a>
            </div>
          </div>
          <div class="info_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_link_box">
            <h4>Links</h4>
            <div class="info_links">
              <a (click)="gotoHome()">
                <img src="../../assets/nav-bullet.png" alt="" />
                Home
              </a>
              <a (click)="gotoAbout()">
                <img src="../../assets/nav-bullet.png" alt="" />
                About
              </a>
              <a (click)="gotoService()">
                <img src="../../assets/nav-bullet.png" alt="" />
                Services
              </a>
              <a (click)="gotoMember()">
                <img src="../../assets/nav-bullet.png" alt="" />
                Members
              </a>
              <a (click)="gotoContact()">
                <img src="../../assets/nav-bullet.png" alt="" />
                Contact Us
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_detail">
            <h4>Info</h4>
            <p>
              At Meet Master, we bring a decade of experience in revolutionizing
              digital meetings. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
          </div>
        </div>
        <div class="col-md-3 mb-0">
          <h4>Subscribe</h4>
          <form action="#">
            <input type="text" placeholder="Enter email" />
            <button type="submit">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <!-- <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">Meet Master</a>
      </p>
    </div>
  </footer> -->
  <!-- footer section -->
</body>
