<div class="hero_area">
  <section class="slider_section">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h1>
                    Master Your Meetings <br />
                    with Meet Master
                  </h1>
                  <p>
                    Elevate your collaboration experience with intelligent and
                    creative solutions. Meet Master - where every meeting
                    becomes a masterpiece.
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn-1"> Read More </a>
                    <a href="" class="btn-2"> Contact Us </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-lg-10 mx-auto">
                    <div class="img-box">
                      <img src="../../assets/slider-img.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end slider section -->
</div>

<!-- service section -->

<section class="service_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Our Services</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <img src="../../assets/s1.png" alt="" />
          </div>
          <div class="detail-box">
            <h4>Effortless Collaboration</h4>
            <p>
              Connect seamlessly with your team, clients, and partners. Foster
              collaboration and make every meeting count.
            </p>
            <a href="">
              Read More
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <img src="../../assets/s2.png" alt="" />
          </div>
          <div class="detail-box">
            <h4>Secure Communication</h4>
            <p>
              Prioritize the security of your discussions. Our platform ensures
              end-to-end encryption for confidential conversations
            </p>
            <a href="">
              Read More
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <img src="../../assets/s3.png" alt="" />
          </div>
          <div class="detail-box">
            <h4>Intuitive Design</h4>
            <p>
              Experience a friendly interface designed for efficiency and ease
              of use. Master your meetings with intuitive features.
            </p>
            <a href="">
              Read More
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end service section -->

<!-- about section -->

<section class="about_section layout_padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>About Us</h2>
          </div>
          <p>
            At Meet Master, we bring a decade of experience in revolutionizing
            digital meetings. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua.
          </p>
          <a href=""> Read More </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <img src="../../assets/about-img.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->

<!-- server section -->

<section class="server_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="../../assets/server-img.jpg" alt="" />
          <div class="play_btn">
            <button>
              <i class="fa fa-play" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>Unlock the Power of Meet Master</h2>
            <p>
              Revolutionize your meetings with Meet Master. Our application
              seamlessly manages servers, facilitating smooth communication and
              collaboration. Utilize cutting-edge features for an unparalleled
              experience.
            </p>
          </div>
          <a href="#"> Discover More </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end server section -->

<!-- Team member -->

<section class="member_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Our Team Member</h2>
    </div>

    <div class="member_container">
      <div class="box">
        <div class="detail-box">
          <div class="container">
            <img
              src="../../assets/download.jpeg"
              class="img-circle"
              alt="Cinque Terre"
              width="200"
              height="200"
            />
          </div>
          <ul class="member_features">
            <li><br /><br /></li>
            <li>
              <h2>Akash Netke.</h2>
            </li>
            <li>
              <h4>Frontend_Backend Developer</h4>
            </li>
          </ul>
        </div>
        <div class="btn-box">
          <a href="" (click)="gotoMember()"> See Detail </a>
        </div>
      </div>
      <div class="box">
        <div class="detail-box">
          <div class="container">
            <img
              src="../../assets/download.jpeg"
              class="img-circle"
              alt="Cinque Terre"
              width="200"
              height="200"
            />
          </div>
          <ul class="member_features">
            <li><br /><br /></li>
            <li>
              <h2>Rahul Thorat.</h2>
            </li>
            <li>
              <h4>Frontend_Backend Developer</h4>
            </li>
          </ul>
        </div>
        <div class="btn-box">
          <a href="" (click)="gotoMember()"> See Detail </a>
        </div>
      </div>
      <div class="box">
        <div class="detail-box">
          <div class="container">
            <img
              src="../../assets/download.jpeg"
              class="img-circle"
              alt="Cinque Terre"
              width="200"
              height="200"
            />
          </div>
          <ul class="member_features">
            <li><br /><br /></li>
            <li>
              <h2>Sandesh Daundkar</h2>
            </li>
            <li>
              <h4>UI Developer</h4>
            </li>
          </ul>
        </div>
        <div class="btn-box" (click)="gotoMember()">
          <a href=""> See Detail </a>
        </div>
      </div>
      <div class="box">
        <div class="detail-box">
          <div class="container">
            <img
              src="../../assets/download.jpeg"
              class="img-circle"
              alt="Cinque Terre"
              width="200"
              height="200"
            />
          </div>
          <ul class="member_features">
            <li><br /><br /></li>
            <li>
              <h2>Mayur Kamble.</h2>
            </li>
            <li>
              <h4>UI Developer</h4>
            </li>
          </ul>
        </div>
        <div class="btn-box">
          <a href="" (click)="gotoMember()"> See Detail </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Team Member -->

<!-- contact section -->
<section class="contact_section layout_padding-bottom">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Get In Touch</h2>
    </div>
    <div class="row">
      <div class="col-md-8 col-lg-6 mx-auto">
        <div class="form_container">
          <!-- <form>
            <div>
              <input type="text" placeholder="Your Name" name="name" required />
            </div>
            <div>
              <input
                type="email"
                placeholder="Your Email"
                name="email"
                required
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="Your Phone"
                name="phone"
                required
              />
            </div>
            <div>
              <input
                type="text"
                class="message-box"
                placeholder="Message"
                name="message"
                required
              />
            </div>
            <button type="submit" (click)="saveData()">SEND</button>
          </form> -->
          <form (ngSubmit)="saveData()" #feedbackForm="ngForm">
            <div>
              <input
                type="text"
                placeholder="Your Name"
                name="name"
                [(ngModel)]="feed.name"
                required
              />
            </div>
            <div>
              <input
                type="email"
                placeholder="Your Email"
                name="email"
                [(ngModel)]="feed.email"
                required
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="Your Phone"
                name="phone"
                [(ngModel)]="feed.phone"
                required
              />
            </div>
            <div>
              <input
                type="text"
                class="message-box"
                placeholder="Message"
                name="message"
                [(ngModel)]="feed.message"
                required
              />
            </div>
            <button type="submit">SEND</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end contact section -->

<!--Google map-->
<div
  id="map-container-google-1"
  class="z-depth-1-half map-container"
  style="height: 150px"
>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387031.83583368644!2d73.8338577!3d18.536156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf7ba4100001%3A0x2d93617adadd9f43!2sSymbiosis%20Center%20for%20Distance%20Learning%20(SCDL)!5e0!3m2!1sen!2sus!4v1641682430013!5m2!1sen!2sus"
    frameborder="0"
    style="border: 2px; width: 80%; margin-left: 150px"
    allowfullscreen
  ></iframe>
</div>

<!-- end Mappppp  -->

<!-- info section -->

<section class="info_section layout_padding2">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="info_contact">
          <h4>Address</h4>
          <div class="contact_link_box">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span> Location </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span> Call +91 9988776655 </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span> meetmastergmail.com </span>
            </a>
          </div>
        </div>
        <div class="info_social">
          <a href="">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_link_box">
          <h4>Links</h4>
          <div class="info_links">
            <a (click)="gotoHome()">
              <img src="../../assets/nav-bullet.png" alt="" />
              Home
            </a>
            <a (click)="gotoAbout()">
              <img src="../../assets/nav-bullet.png" alt="" />
              About
            </a>
            <a (click)="gotoService()">
              <img src="../../assets/nav-bullet.png" alt="" />
              Services
            </a>
            <a (click)="gotoMember()">
              <img src="../../assets/nav-bullet.png" alt="" />
              Members
            </a>
            <a (click)="gotoContact()">
              <img src="../../assets/nav-bullet.png" alt="" />
              Contact Us
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_detail">
          <h4>Info</h4>
          <p>
            At Meet Master, we bring a decade of experience in revolutionizing
            digital meetings. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua.
          </p>
        </div>
      </div>
      <div class="col-md-3 mb-0">
        <h4>Subscribe</h4>
        <form action="#">
          <input type="text" placeholder="Enter email" />
          <button type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- end info section -->
